@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
h1,
p {
  font-family: "Teko", sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  background-image: url("./imagenes/fondoBanner.jpg");
  width: 100%;
  background-size: cover;
  padding-bottom: 100px;
}

.textoBanner {
  text-align: center;
  color: white;

  border-style: solid;
  border-color: white;

  padding: 50px;

  margin-right: 2%;
  margin-left: 2%;
  margin-top: 100px;

  justify-content: center;
  word-wrap: break-word;

  background-color: rgba(0, 0, 0, 0.8);
}

.hps {
  margin-top: 50px;
  margin-bottom: 50px;
}

article {
  border-style: double;
  width: 30%;
  word-wrap: break-word;
  overflow: hidden;
  padding-bottom: 5px;
}

.contacto {
  border-top-style: solid;
  border-top: black;
}

textarea {
  min-height: 50px;
}

.footer {
  background-color: black;
}

a:hover {
  cursor: pointer;
}
